In [1]:
import pandas as pd
import matplotlib.pyplot as plt
titanic = pd.read_csv("../titanic/data/train.csv")
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
display(titanic['Cabin'].value_counts())

C23 C25 C27        4
G6                 4
B96 B98            4
E101               3
F33                3
C22 C26            3
D                  3
F2                 3
E24                2
E121               2
C124               2
D36                2
B20                2
B57 B59 B63 B66    2
C65                2
D20                2
C78                2
B49                2
C92                2
B35                2
E8                 2
D35                2
E25                2
C83                2
C68                2
C2                 2
C52                2
B18                2
D17                2
B51 B53 B55        2
                  ..
B80                1
B19                1
D47                1
C91                1
E63                1
D56                1
D28                1
C148               1
B86                1
F E69              1
D15                1
B37                1
E12                1
E40                1
C7                 1
A6                 1
C62 C64            1
B39                1
C95                1
C106               1
C46                1
B79                1
D49                1
A10                1
C70                1
C104               1
A31                1
B3                 1
C99                1
C103               1
Name: Cabin, Length: 147, dtype: int64

In [3]:
cabin = titanic['Cabin'].fillna('X')
display(cabin.value_counts())

X                  687
C23 C25 C27          4
G6                   4
B96 B98              4
E101                 3
F33                  3
C22 C26              3
D                    3
F2                   3
E24                  2
E121                 2
C124                 2
B35                  2
D36                  2
B20                  2
B57 B59 B63 B66      2
C65                  2
D20                  2
C78                  2
B49                  2
C92                  2
E25                  2
E8                   2
D35                  2
B58 B60              2
C83                  2
C68                  2
C2                   2
C52                  2
B18                  2
                  ...
B80                  1
B19                  1
D47                  1
C91                  1
E63                  1
D56                  1
D28                  1
C148                 1
B86                  1
F E69                1
D15                  1
B37                  1
E12                  1
E40                  1
C7                   1
A6                   1
C62 C64              1
B39                  1
C95                  1
C106                 1
C46                  1
B79                  1
D49                  1
A10                  1
C70                  1
C104                 1
A31                  1
B3                   1
C99                  1
C103                 1
Name: Cabin, Length: 148, dtype: int64

In [4]:
display(cabin.str[0].value_counts())

X    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64

## Regression linéaire sur ce jeu de données

### Sans la donnée Cabin

In [9]:
from sklearn.linear_model import LogisticRegression
lr1 = LogisticRegression()
def Prepare_Modele(X, cabin):
    target = X.Survived
    sexe = pd.get_dummies(X['Sex'], prefix='sex')
    age = X['Age'].fillna(X['Age'].mean())
    X = X[['Pclass', 'SibSp']].join(sexe).join(age)
    return X, target
X, y = Prepare_Modele(titanic, cabin)
lr1.fit(X, y)
lr1.score(X, y)

0.8024691358024691

### Avec la donnée Cabin

In [10]:
from sklearn.linear_model import LogisticRegression
lr1 = LogisticRegression()
def Prepare_Modele(X, cabin):
    target = X.Survived
    sexe = pd.get_dummies(X['Sex'], prefix='sex')
    cabin = pd.get_dummies(cabin.str[0], prefix='Cabin')
    age = X['Age'].fillna(X['Age'].mean())
    X = X[['Pclass', 'SibSp']].join(cabin).join(sexe).join(age)
    return X, target
X, y = Prepare_Modele(titanic, cabin)
X.head(5)

,Pclass,SibSp,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,sex_female,sex_male,Age
0,3,1,0,0,0,0,0,0,0,0,1,0,1,22.0
1,1,1,0,0,1,0,0,0,0,0,0,1,0,38.0
2,3,0,0,0,0,0,0,0,0,0,1,1,0,26.0
3,1,1,0,0,1,0,0,0,0,0,0,1,0,35.0
4,3,0,0,0,0,0,0,0,0,0,1,0,1,35.0

In [11]:
lr1.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [12]:
lr1.score(X, y)

0.8103254769921436