In [1]:
import pandas as pd
import matplotlib.pyplot as plt
titanic = pd.read_csv("../titanic/data/train.csv")
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
display(titanic['Cabin'].value_counts())

C23 C25 C27        4
B96 B98            4
G6                 4
F2                 3
F33                3
E101               3
C22 C26            3
D                  3
E121               2
D35                2
D26                2
C65                2
C2                 2
B57 B59 B63 B66    2
B35                2
B18                2
B51 B53 B55        2
D20                2
E24                2
E33                2
C93                2
D36                2
B20                2
B58 B60            2
C126               2
E8                 2
B77                2
C52                2
B28                2
B49                2
                  ..
E10                1
D21                1
D11                1
F G63              1
C62 C64            1
F E69              1
E31                1
A19                1
C50                1
C90                1
D56                1
C47                1
C54                1
C103               1
B37                1
E68                1
A31                1
C45                1
D49                1
C70                1
E46                1
B19                1
A26                1
B41                1
A36                1
B4                 1
B80                1
E12                1
E34                1
D19                1
Name: Cabin, Length: 147, dtype: int64

In [28]:
cabin = titanic['Cabin'].fillna('X')
display(cabin.value_counts())

X              687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
F33              3
D                3
E101             3
F2               3
C124             2
F4               2
E33              2
B20              2
C126             2
E8               2
B51 B53 B55      2
C78              2
B77              2
B58 B60          2
D36              2
E24              2
D35              2
D20              2
E67              2
C65              2
B35              2
C2               2
D26              2
E121             2
C125             2
              ...
E10              1
D21              1
D11              1
F G63            1
C62 C64          1
F E69            1
E31              1
A19              1
C50              1
C90              1
D56              1
C47              1
C103             1
B73              1
B37              1
E68              1
A31              1
C45              1
D49              1
C70              1
E46              1
B19              1
A26              1
B41              1
A36              1
B4               1
B80              1
E12              1
E34              1
D19              1
Name: Cabin, Length: 148, dtype: int64

In [40]:
display(cabin.str[0].value_counts())

X    687
C     59
B     47
D     33
E     32
A     15
F     13
G      4
T      1
Name: Cabin, dtype: int64