In [11]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, HiveContext
import pandas as pd

In [2]:
SparkContext.setSystemProperty("hive.metastore.uris", "thrift://hdp.local:9083")

In [3]:
sparkSession = (SparkSession
                .builder
                .appName('mon-ex')
                .enableHiveSupport()
                .getOrCreate())

In [26]:
df_load = sparkSession.sql('select * from customers_prov')
df_load.show()

+-------+------------------+--------------+---------------+-------------+-----------+----------+--------------------+-------------+------------+-------------+----------------+--------------------+--------------+--------------+------------+---------+-----------------+--------------------+--------------+--------------------+----------------------+------------------------+-------------+-----------+--------------------+-----------+-------------+
|cust_id|         cust_name|cust_firstname|cust_middlename|cust_lastname|cust_gender|  cust_dob|        cust_address|cust_postcode|   cust_city| cust_country|cust_country_iso|          cust_email|    cust_phone|   cust_mobile|cust_twitter|cust_tier|cameo_category_cd| cameo_category_desc|cameo_group_cd|    cameo_group_desc|cameo_international_cd|cameo_international_desc|cust_language|mailability|      validation_msg|last_update|cust_province|
+-------+------------------+--------------+---------------+-------------+-----------+----------+--------------------+-------------+------------+-------------+----------------+--------------------+--------------+--------------+------------+---------+-----------------+--------------------+--------------+--------------------+----------------------+------------------------+-------------+-----------+--------------------+-----------+-------------+
|    242|    JEANA YAMAUCHI|         JEANA|           null|     YAMAUCHI|          F|2036-11-08|1875 LARPENTEUR A...|   55113-5533|  SAINT PAUL|UNITED STATES|             USA|jyamauchi@yamauch...|     276274466|     276545726|        null|   Bronze|               3B|URBAN MOVERS AND ...|             3| PROSPEROUS FAMILIES|                    21|    PROSPEROUS PRE-FA...|          ENG|          5|Corrected - all e...|       Init|           MN|
|     15|LEONARDO TORTORICH|      LEONARDO|           null|    TORTORICH|          M|1957-09-16|      4316 2ND ST NE|   55421-2735| MINNEAPOLIS|UNITED STATES|             USA|ltortorich@yahoo.com|   +1612237306|   +1612642730|        null|   Silver|               6E|  SETTLED AND SINGLE|             6|  ASPIRING CONSUMERS|                    34|    COMFORTABLE OLDER...|          ENG|          5|Corrected - all e...|       Init|           MN|
|     19|       PEGGY MATCU|         PEGGY|           null|        MATCU|          F|1980-06-17|      16063 3RD ST S|   55043-9458|    LAKELAND|UNITED STATES|             USA|peggy.matcu@hotma...|   229-677-101|   229-895-145|        null|   Silver|               3E|AFFLUENT ESTABLIS...|             3| PROSPEROUS FAMILIES|                    24|    PROSPEROUS OLDER ...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    376|      ELISHA NAPPI|        ELISHA|           null|        NAPPI|          F|2049-07-23|  1974 BETTY JANE CT|   55109-4105|  SAINT PAUL|UNITED STATES|             USA|  elisha@hotmail.com| (276) 770 639| (276) 958 496|        null|   Silver|               4E|SETTLED IN THE SU...|             4|ENTERPRISING HOUS...|                    24|    PROSPEROUS OLDER ...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    390| FILIBERTO SOLLAND|     FILIBERTO|           null|      SOLLAND|          M|1950-11-02|   3333 TWIN LAKE RD|   55127-4023|  SAINT PAUL|UNITED STATES|             USA|filiberto.solland...|   +1276590434|   +1276583424|        null|   Silver|               6C|   BIG FAMILY VALUES|             6|  ASPIRING CONSUMERS|                    33|    COMFORTABLE FAMIL...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    110|        JACK GORCZ|          JACK|           null|        GORCZ|          M|1960-05-29|    1298 STRYKER AVE|   55118-2219|  SAINT PAUL|UNITED STATES|             USA|        gorcz@me.com|   276-511-343|   276-996-833|        null|     Gold|               4C|       METRO SUCCESS|             4|ENTERPRISING HOUS...|                    23|    PROSPEROUS FAMILI...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    128|  BRENTON CALCAGNO|       BRENTON|           null|     CALCAGNO|          M|1970-04-17|    3015 KNOLL LN NW|   55901-1492|   ROCHESTER|UNITED STATES|             USA| brenton@hotmail.com|+1 217 407 765| +1 217 595 47|        null|   Silver|               3C|MIDDLE  CLASS MAN...|             3| PROSPEROUS FAMILIES|                    23|    PROSPEROUS FAMILI...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    188|     LAUREN GBOGBO|        LAUREN|           null|       GBOGBO|          F|2035-12-03|3414 LOUISIANA AVE N|   55427-2132| MINNEAPOLIS|UNITED STATES|             USA|lauren.gbogbo@yah...|   612-749-780|   612-938-765|        null|   Silver|               7A|      FLOWN THE NEST|             7|DYNAMIC NEIGHBOUR...|                    41|    LESS AFFLUENT PRE...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    201|      DANTE CONLYN|         DANTE|           null|       CONLYN|          M|1954-11-19|    11032 27TH AVE S|   55337-1012|  BURNSVILLE|UNITED STATES|             USA|dante.conlyn@conl...|+1 304 445 150|+1 304 201 488|        null|   Silver|               3D|PROFESSIONAL URBA...|             3| PROSPEROUS FAMILIES|                    23|    PROSPEROUS FAMILI...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    217|      EVITA TOLBER|         EVITA|           null|       TOLBER|          F|1998-06-07|  10377 GREYFIELD CT|   55347-4628|EDEN PRAIRIE|UNITED STATES|             USA|   etolber@yahoo.com| (952) 438 859| (952) 632 627|        null|   Bronze|               1C| ASSET RICH FAMILIES|             1|AMERICAN ARISTOCRACY|                    13|    WEALTHY FAMILIES ...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    220|       CESAR TITLE|         CESAR|           null|        TITLE|          M|1983-04-26|   4614 WOODDALE AVE|   55424-1139| MINNEAPOLIS|UNITED STATES|             USA|  cesar.title@me.com|    612-277-25|   612-234-680|        null|   Silver|               1E| MOGULS AND MANSIONS|             1|AMERICAN ARISTOCRACY|                    14|    WEALTHY OLDER FAM...|          ENG|          5|Corrected - all e...|       Init|           MN|
|     89|      NORA BRISKIE|          NORA|           null|      BRISKIE|          F|1972-08-30|513 CRESTVIEW FOR...|   55119-6752|  SAINT PAUL|UNITED STATES|             USA|         nora@me.com|   +1276381541|   +1276684612|        null|   Bronze|               5G|COMFORTABLE IN RE...|             5|COMFORTABLE COMMU...|                    35|    COMFORTABLE ELDER...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    362|    JEFFERY NETELL|       JEFFERY|           null|       NETELL|          M|1955-12-08|26426 STATE HIGHW...|   56334-2224|    GLENWOOD|UNITED STATES|             USA|       netell@me.com|   320-388-863|   320-568-320|        null|   Silver|               5G|COMFORTABLE IN RE...|             5|COMFORTABLE COMMU...|                    35|    COMFORTABLE ELDER...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    474|       WILLIS KOOB|        WILLIS|           null|         KOOB|          M|1964-08-19|    1401 N GERMAN ST|   56073-1115|     NEW ULM|UNITED STATES|             USA|willis.koob@koob.com|   +1507340551|   +1507655840|        null|     Gold|               4E|SETTLED IN THE SU...|             4|ENTERPRISING HOUS...|                    24|    PROSPEROUS OLDER ...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    480|      DAVID HO LAU|         DAVID|           null|       HO LAU|          M|2025-06-15|  1625 FOUNTAIN LN N|   55447-2721| MINNEAPOLIS|UNITED STATES|             USA|   dho_lau@yahoo.com|+1 612 455 632|+1 612 391 804|        null|   Silver|               4E|SETTLED IN THE SU...|             4|ENTERPRISING HOUS...|                    24|    PROSPEROUS OLDER ...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    257|    PENNY GRATEROL|         PENNY|           null|     GRATEROL|          F|1966-05-14|    1250 106TH LN NW|   55433-6329| MINNEAPOLIS|UNITED STATES|             USA|penny.graterol@me...| (612) 596 286| (612) 425 383|        null|   Silver|               4C|       METRO SUCCESS|             4|ENTERPRISING HOUS...|                    23|    PROSPEROUS FAMILI...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    307|       uHNKv GKOUT|         uHNKv|           null|        GKOUT|          M|2036-04-14|       109 CLOVER LN|   55328-9776|      DELANO|UNITED STATES|             USA|     S7Cpx@BKmmJ.WHr| (880) 325 655| (880) 877 641|        null|      VIP|               3A|HIGH FLYING FAMILIES|             3| PROSPEROUS FAMILIES|                    22|    PROSPEROUS YOUNG ...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    789|       DEVON HELCK|         DEVON|           null|        HELCK|          M|1982-04-16| 1208 N MCKAY AVE NE|   56308-7538|  ALEXANDRIA|UNITED STATES|             USA|    dhelck@gmail.com| (315) 693 784| (315) 249 926|        null|   Silver|               5G|COMFORTABLE IN RE...|             5|COMFORTABLE COMMU...|                    35|    COMFORTABLE ELDER...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    996|     vhfc VNGPBEPP|          vhfc|           null|     VNGPBEPP|          U|2042-06-02|      4343 2ND ST NE|   55421-2736| MINNEAPOLIS|UNITED STATES|             USA|      7O10@UpROR.xSf|     804728777|     804892573|        null|      VIP|               6E|  SETTLED AND SINGLE|             6|  ASPIRING CONSUMERS|                    34|    COMFORTABLE OLDER...|          ENG|          5|Corrected - all e...|       Init|           MN|
|    240|ALEJANDRO HOFFHOUS|     ALEJANDRO|           null|     HOFFHOUS|          M|1982-06-24|          503 6TH ST|   53520-1170|    BRODHEAD|UNITED STATES|             USA|alejandro.hoffhou...|   +1606642912|   +1606493655|        null|   Bronze|               5F|      MATURE SUBURBS|             5|COMFORTABLE COMMU...|                    35|    COMFORTABLE ELDER...|          ENG|          5|Corrected - all e...|       Init|           WI|
+-------+------------------+--------------+---------------+-------------+-----------+----------+--------------------+-------------+------------+-------------+----------------+--------------------+--------------+--------------+------------+---------+-----------------+--------------------+--------------+--------------------+----------------------+------------------------+-------------+-----------+--------------------+-----------+-------------+
only showing top 20 rows

In [32]:
s = df_load.toPandas()

In [33]:
s.head()

,cust_id,cust_name,cust_firstname,cust_middlename,cust_lastname,cust_gender,cust_dob,cust_address,cust_postcode,cust_city,...,cameo_category_desc,cameo_group_cd,cameo_group_desc,cameo_international_cd,cameo_international_desc,cust_language,mailability,validation_msg,last_update,cust_province
0,39,orhh DRHKFA,orhh,None,DRHKFA,F,2044-01-01,700 S CENTER ST,21157-5636,WESTMINSTER,...,SMALL TOWN FAMILY STRUGGLE,9,STRETCHED TENANTS,53,POORER FAMILIES WITH SCHOOL AGE CHILDREN,ENG,5,Corrected - all elements have been checked,Init,MD
1,33,DORSEY GLENNIE,DORSEY,None,GLENNIE,M,1997-01-14,1411 OAKDALE RD,21060-7018,GLEN BURNIE,...,MIDDLE CLASS MANAGERS,3,PROSPEROUS FAMILIES,23,PROSPEROUS FAMILIES WITH SCHOOL AGE CHILDREN,ENG,5,Corrected - all elements have been checked,Init,MD
2,404,CARLOS DOHENY,CARLOS,None,DOHENY,M,2043-02-22,5201 BARTHOLOW RD,21784-8803,SYKESVILLE,...,SUBTOPIA,2,EXCLUSIVE SOCIETY,12,WEALTHY YOUNG COUPLES WITH CHILDREN,ENG,5,Corrected - all elements have been checked,Init,MD
3,108,MAN VALGHAN,MAN,None,VALGHAN,M,2032-07-18,6116 ALTA AVE,21206-2352,BALTIMORE,...,URBANE MELTING POT,4,ENTERPRISING HOUSEHOLDS,23,PROSPEROUS FAMILIES WITH SCHOOL AGE CHILDREN,ENG,5,Corrected - all elements have been checked,Init,MD
4,148,GWENN BRANDENBERGER,GWENN,None,BRANDENBERGER,F,1993-05-06,10333 TUDOR RD,21842-9612,OCEAN CITY,...,AFFLUENT ESTABLISHED SUBURBIA,3,PROSPEROUS FAMILIES,24,PROSPEROUS OLDER FAMILIES AND MATURE COUPLES,ENG,5,Corrected - all elements have been checked,Init,MD