In [53]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from joblib import dump, load

def myScore(lg, X, y):
    xval = cross_val_score(lr, X, y, cv=5)
    return xval.mean() * 100

In [9]:
train = pd.read_csv("C:\Apps\Centrix Data Solutions\ML\Orders_train.csv")

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
Customer Acct Number    18 non-null int64
Product Code            18 non-null object
Quantity                18 non-null int64
Unit Price              18 non-null float64
Priority Order          18 non-null bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 674.0+ bytes

In [16]:
train.head()

   Customer Acct Number Product Code  Quantity  Unit Price  Priority Order
0              76012589      ABC-125         3        2.16            True
1              45051458      ABC-126         6        0.45           False
2              50023512      ABC-127         2        3.20           False
3              20087425      ABC-128         1        4.50            True
4              10084215      ABC-129        22        0.19            True

In [45]:
def myBool(t):
        if (t ==True):
            return 1 
        else:
            return 0
y =[ myBool(x) for x in train['Priority Order'] ]
y = pd.DataFrame(y)

X = train.copy()
del X['Priority Order']
del X['Product Code']

In [48]:
lr = LogisticRegression()
lr.fit(X, y)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [50]:
myScore(lr, X, y)

C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\admin\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

56.666666666666664

In [54]:
dump(lr, 'C:\Apps\Centrix Data Solutions\ML\lr.modele')

['C:\\Apps\\Centrix Data Solutions\\ML\\lr.modele']

In [55]:
X

    Customer Acct Number  Quantity  Unit Price
0               76012589         3       2.160
1               45051458         6       0.450
2               50023512         2       3.200
3               20087425         1       4.500
4               10084215        22       0.190
5               76012589         3       2.160
6               45051458         6      12.100
7               50023512         7       3.200
8               20087425         1       5.000
9               76012589         5       5.520
10              45051458         4       5.482
11              50023512         8       5.444
12              20087425         1       5.406
13              10084215         9       5.368
14              76012589         6       5.330
15              45051458         9       5.292
16              50023512         3       5.254
17              20087425         2       5.216

In [71]:
account = 1546564
qty=88
price = 100
Xtest = [[ account , qty, price]]

In [72]:
Xtest

[[1546564, 88, 100]]

In [73]:
result = lr.predict(Xtest)

In [74]:
print(result)

[0]

In [77]:
print(str(result[0]))

0