In [3]:
import sqlite3

Connection à la base de données

In [4]:
conn = sqlite3.connect('test.db')
c = conn.cursor()

Création d'une nouvelle table

In [6]:
sql = 'CREATE TABLE test2 (col1 text, col2 text, col3 numeric, col4 real, col5 text)'
c.execute(sql)

OperationalError: table test2 already exists

In [12]:
c.execute("INSERT INTO test2 VALUES ('data1', 'data2', 1, 100.35, '10/12/2018')")

In [13]:
conn.commit()

In [8]:
t = ('data1',)
c.execute('SELECT * FROM test2 WHERE col1=?', t)
c.fetchone()

('data1', 'data2', 1, 100.35, '10/12/2018')