Get dataset from http://ai.stanford.edu/~amaas/data/sentiment/

In [112]:
from sklearn.datasets import load_files
import pandas as pd
TRAIN = load_files("../datasources/imdb/train.csv")

# Sampling data

### Filter data

In [113]:
FILTER = 5000
X = TRAIN.data[:FILTER]
y = TRAIN.target[:FILTER]

### remove html tags

In [114]:
X = [text.replace(b"<br />", b" ") for text in X]

### Unicode

In [115]:
X = [x.decode("utf-8") for x in X]

## Labels

In [116]:
pd.DataFrame(y)[0].value_counts()

2    3371
1     826
0     803
Name: 0, dtype: int64

In [117]:
pd.DataFrame(X)[0].shape

(5000,)

In [118]:
pd.DataFrame(X).head()

                                                   0
0  I've always loved this version of the ancient ...
1  This movie was Fantastic with Michael Madsen a...
2  Two weeks prior to me writing this user-commen...
3  I`ve rented this film from my local video stor...
4  From the first episode, to the last. In my opi...

## Join features & labels

In [119]:
pdy = pd.DataFrame(y, columns = ["Label"])
pdX = pd.DataFrame(X, columns = ["Text"])
Xy = pdy.join(pdX)
Xy.head()

   Label                                               Text
0      2  I've always loved this version of the ancient ...
1      2  This movie was Fantastic with Michael Madsen a...
2      2  Two weeks prior to me writing this user-commen...
3      2  I`ve rented this film from my local video stor...
4      2  From the first episode, to the last. In my opi...

### export to files

In [120]:
Xy.to_csv("./data/sample" + str(FILTER) + ".csv", index=False)