In [22]:
import pandas as pd
T = pd.read_csv("./data/sample1000.csv")

In [23]:
T.head()

   Label                                               Text
0      2  I've always loved this version of the ancient ...
1      2  This movie was Fantastic with Michael Madsen a...
2      2  Two weeks prior to me writing this user-commen...
3      2  I`ve rented this film from my local video stor...
4      2  From the first episode, to the last. In my opi...

In [24]:
T["Label"].value_counts()

2    681
1    161
0    158
Name: Label, dtype: int64