# Kaggle Titanic : Toujours plus loin !

In [46]:
import pandas as pd
import re
import numpy as np

from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import GradientBoostingClassifier

train = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")
full = pd.concat([train, test]) # Assemble les deux jeux de données

# Récupère le la localisation de la cabine babord ou tribord)
https://fr.wikipedia.org/wiki/Passerelle_de_navigation_du_Titanic

L'évacuation des passagers dans les canots est organisée ainsi : le premier officier William Murdoch est chargé de tous les canots situés à tribord (c'est-à-dire tous les canots portant un chiffre impair en plus des canots A et C) et le deuxième officier Charles Lightoller est chargé de tous les canots situés à bâbord (tous les canots portant un chiffre pair en plus des canots B et D)33. Les autres officiers se doivent d'assister Murdoch et Lightoller dans leurs tâches. À 0 h 55, le troisième officier Pitman aide au remplissage du canot no 5 puis embarque dans celui-ci pour en prendre le commandement34.

In [47]:
X = train
X['CabinNumber'] = 0
X['CabinBaTri'] = 0
X['Cabin'] = X['Cabin'].fillna('X0')
for idx, cab in enumerate(X['Cabin']):
    cb = cab.split(" ")[0]
    if cb[1:].isnumeric():
        numcab = int(cb[1:])
    else:
        numcab = 0
    # Récupère le numéro de cabine
    X.loc[idx, 'CabinNumber']= numcab
    
    # Affecte pair (0) ou Impair (1) / babord/Tribord
    if (numcab > 0): 
        X.loc[idx, 'CabinBaTri'] = int(numcab % 2)
    else:
        X.loc[idx, 'CabinBaTri'] = 2

X

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,CabinNumber,CabinBaTri
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,X0,S,0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,85,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,X0,S,0,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,123,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,X0,S,0,2
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,X0,Q,0,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,46,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,X0,S,0,2
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,X0,S,0,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,X0,C,0,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,6,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,103,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,X0,S,0,2
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,X0,S,0,2
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,X0,S,0,2
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,X0,S,0,2
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,X0,Q,0,2
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,X0,S,0,2
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,X0,S,0,2
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,X0,C,0,2
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,X0,S,0,2
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,56,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,X0,Q,0,2
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,6,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,X0,S,0,2
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,X0,S,0,2
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,X0,C,0,2
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,23,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,X0,Q,0,2
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,X0,S,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,X0,S,0,2
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,17,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,X0,S,0,2
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,X0,S,0,2
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,X0,S,0,2
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,X0,C,0,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,24,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,X0,S,0,2
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,X0,S,0,2
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,X0,S,0,2
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,35,1
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,51,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,X0,S,0,2
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,X0,C,0,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,X0,C,0,2
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,X0,S,0,2
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,X0,S,0,2
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,X0,S,0,2
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,50,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,X0,S,0,2
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,X0,S,0,2
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,X0,S,0,2
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,X0,S,0,2
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,X0,S,0,2
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,X0,Q,0,2
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,X0,S,0,2
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,42,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,X0,S,0,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,148,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,X0,Q,0,2

# Création d'une fonction de préparation

In [48]:
# Création d'un DataFrame avec tous les noms de famille (full)
familynames = []
for noms in full["Name"]:
    familynames.append(re.search('([A-Za-z0-9]*),\ ([A-Za-z0-9 ]*)\. (.*)', noms).group(1))
pdfamilynames = pd.DataFrame(familynames, columns = ['familynames'])

# Créé une liste filtrée des noms de famille avec plus de 2 occurences !
famsurv = full.join(pdfamilynames)
famCount = famsurv['familynames'].value_counts()
pdfamCounts = pd.DataFrame(famCount, columns = ['familynames'])
pdfamCounts['famCount'] = pdfamCounts['familynames']
pdfamCounts['familynames'] = pdfamCounts.index
pdfamCounts[pdfamCounts['famCount'] >= 2]

# Fonction ajoutant les colonnes noms famille dans un DF
def addColumnFamilyName(data):
    # ajoute les colonnes nulles avec les noms de famille
    for family in pdfamCounts['familynames']:
        data[family] = 0
    # récupère le nom de famille dans le DF
    for idx, f in enumerate(data["Name"]):
        # Modifie les colonnes dummies du nom de famille en 1 ou 0 selon le nom de famille
        iNom = re.search('([A-Za-z0-9]*),\ ([A-Za-z0-9 ]*)\. (.*)', f).group(1)
        for col in data.columns:
            if (col == iNom):
                data.loc[idx, col] = 1

# Fonction globale de préparation : Retourne le DataFrame préparé
def dataprep(data):
    # Sexe
    sexe = pd.get_dummies(data['Sex'], prefix='sex')
    
    # Cabine, récupération du pont (on remplace le pont T proche du pont A)
    cabin = pd.get_dummies(data['Cabin'].fillna('X').str[0].replace('T', 'A'), prefix='Cabin')
    
    data['CabinNumber'] = 0
    data['CabinBaTri'] = 0
    data['Cabin'] = data['Cabin'].fillna('X0')
    for idx, cab in enumerate(data['Cabin']):
        cb = cab.split(" ")[0]
        if cb[1:].isnumeric():
            numcab = int(cb[1:])
        else:
            numcab = 0
        # Récupère le numéro de cabine
        data.loc[idx, 'CabinNumber']= numcab

        # Affecte pair (0) ou Impair (1) / babord/Tribord
        if (numcab > 0): 
            data.loc[idx, 'CabinBaTri'] = int(numcab % 2)
        else:
            data.loc[idx, 'CabinBaTri'] = 2
    
    # Age et catégories d'age
    age = data['Age'].fillna(data['Age'].median()) # Age médian de 3eme classe
    catAge = []
    for i in range(data.shape[0]) :
        if age[i] < 3:
            catAge.append("bebe")
        elif age[i] >= 3 and age[i] < 15:
            catAge.append("enfant")
        elif age[i] >= 15 and age[i] < 60:
            catAge.append("adulte") 
        else:
            catAge.append("vieux")
    catage = pd.get_dummies(pd.DataFrame(catAge, columns = ['catAge']), prefix='catAge')
    
    # Titre et Rang
    data['Titre'] = data.Name.map(lambda x : x.split(",")[1].split(".")[0]).fillna('X')
    data['Rang'] = 0
    vip = ['Don','Sir', 'Major', 'Col', 'Jonkheer', 'Dr']
    femmeenfant = ['Miss', 'Mrs', 'Lady', 'Mlle', 'the Countess', 'Ms', 'Mme', 'Dona', 'Master']
    for idx, titre in enumerate(data['Titre']): 
        if (titre.strip() in femmeenfant) :
            data.loc[idx, 'Rang'] = 'FE'
        elif (titre.strip() in vip) :
            data.loc[idx, 'Rang'] = 'VIP'
        else :
            data.loc[idx, 'Rang'] = 'Autres'
    rg = pd.get_dummies(data['Rang'], prefix='Rang')
    
    # Embarquement
    emb = pd.get_dummies(data['Embarked'], prefix='emb')
    
    # Prix unitaire - Ticket, Prépartion d'un DF (TicketCounts) contenant les ticket avec leur nb d'occurence
    TicketCounts = pd.DataFrame(data['Ticket'].value_counts().head())
    TicketCounts['TicketCount'] = TicketCounts['Ticket'] # renomme la colonne Ticket
    TicketCounts['Ticket'] = TicketCounts.index # rajoute une colonne Ticket pour le merge (jointure)
    # reporte le résultat dans le dataframe test (jointure des datasets)
    fin = pd.merge(data, TicketCounts, how='left', on='Ticket')
    fin['PrixUnitaire'] = fin['Fare'] / fin['TicketCount'].fillna(1)
    prxunit = pd.DataFrame(fin['PrixUnitaire'])
    # Prix moyen 3eme classe (pour le passager de 3eme qui n'a pas de prix) ... on aurait pu faire une fonction ici ;-)
    prx3eme = data.loc[data['Pclass'] == 3]['Fare'].mean()
    prxunit = prxunit['PrixUnitaire'].fillna(prx3eme)
    
    # Classe
    pc = pd.DataFrame(MinMaxScaler().fit_transform(data[['Pclass']]), columns = ['Classe'])
    
    # Constitution du DataFrame
    dp = data[['SibSp', 'Parch', 'Name', 'CabinBaTri']].join(pc).join(sexe).join(emb).join(prxunit).join(cabin).join(age).join(catage).join(rg)
    addColumnFamilyName(dp)
    del dp['Name']
    
    return dp

In [49]:
Xtrain = dataprep(train)
Xtest = dataprep(test)

## Entrainement du modèle

In [60]:
y = train.Survived

#rf = RandomForestClassifier(n_estimators=1000, random_state=3, max_features=1)
#rf = RandomForestClassifier(n_estimators=1500, random_state=5, max_features=20, criterion='gini')
#rf.fit(Xtrain, y)
#p_tr = rf.predict(Xtrain)
#print ("Score Train -->", round(rf.score(Xtrain, y) *100,4), " %")

gb = GradientBoostingClassifier(n_estimators=1000, learning_rate=0.5, max_depth=20, random_state=3)
gb.fit(Xtrain, y)
p_gb = rf.predict(Xtrain)
print ("Score Train -->", round(gb.score(Xtrain, y) *100,4), " %")

Score Train --> 99.8878  %

## Formattage des résultats pour Kaggle ;-)

In [61]:
p_test = rf.predict(Xtest)
result = pd.DataFrame(test['PassengerId'])
pred = pd.DataFrame(p_test, columns=['Survived'])
result = result.join(pred)

In [62]:
result.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.373206
std     120.810458    0.484236
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [63]:
result.to_csv("./data/result11.csv", columns=["PassengerId", "Survived"], index=False)

# Score : 78%