# Kaggle Titanic 3eme essai !

## Jeu de test

In [26]:
import pandas as pd
import re
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.preprocessing import MinMaxScaler

train = pd.read_csv("./data/train.csv")
test = pd.read_csv("./data/test.csv")

### Travail sur le ticket

In [27]:
noticket = []
test['Ticket'].fillna('X')
for ticketnn in test['Ticket']:
    if (ticketnn == 'X'):
        noticket.append(1)
    else:
        noticket.append(0)
pd.DataFrame(noticket)[0].value_counts()

0    418
Name: 0, dtype: int64

####  Tout le monde a un ticket !

In [28]:
test['Ticket'].value_counts().head()

PC 17608              5
113503                4
CA. 2343              4
SOTON/O.Q. 3101315    3
16966                 3
Name: Ticket, dtype: int64

####  Par contre les tickets ne sont pas uniques ! il va donc falloir diviser le prix par nombre de ticket

In [29]:
# Inutile / juste pour un exemple ;-)
#listunit = pd.DataFrame(test.groupby(['Ticket'])['Fare'].mean())
#listunit['Ticket'] = listunit.index

# Prépartion d'un DF (TicketCounts) contenant les ticket avec leur nb d'occurence
TicketCounts = pd.DataFrame(test['Ticket'].value_counts().head())
TicketCounts['TicketCount'] = TicketCounts['Ticket'] # renomme la colonne Ticket
TicketCounts['Ticket'] = TicketCounts.index # rajoute une colonne Ticket pour le merge (jointure)

# Reporte le résultat dans le dataframe test (jointure des datasets)
fin = pd.merge(test, TicketCounts, how='left', on='Ticket')
fin['PrixUnitaire'] = fin['Fare'] / fin['TicketCount'].fillna(1)

#prxunit = pd.DataFrame(fin['PrixUnitaire'])
fin

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,TicketCount,PrixUnitaire
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,NaN,7.829200
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,NaN,7.000000
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,NaN,9.687500
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,NaN,8.662500
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,NaN,12.287500
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S,NaN,9.225000
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q,NaN,7.629200
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S,NaN,29.000000
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C,NaN,7.229200
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S,NaN,24.150000
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S,NaN,7.895800
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S,NaN,26.000000
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S,NaN,82.266700
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S,NaN,26.000000
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S,NaN,61.175000
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C,NaN,27.720800
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q,NaN,12.350000
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C,NaN,7.225000
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S,NaN,7.925000
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C,NaN,7.225000
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C,NaN,59.400000
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S,NaN,3.170800
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,NaN,31.683300
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C,NaN,61.379200
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C,5.0,52.475000
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S,NaN,14.500000
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C,NaN,61.979200
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C,NaN,7.225000
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S,NaN,30.500000
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C,NaN,21.679200
...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q,NaN,7.750000
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S,NaN,21.075000
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S,NaN,93.500000
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S,NaN,39.400000
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S,NaN,20.250000
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S,NaN,10.500000
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S,NaN,22.025000
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S,NaN,60.000000
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q,NaN,7.250000
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C,NaN,79.200000
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S,NaN,7.775000
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q,NaN,7.733300
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S,NaN,164.866700
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S,NaN,21.000000
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C,NaN,59.400000
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S,NaN,47.100000
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C,NaN,27.720800
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C,NaN,13.862500
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S,NaN,10.500000
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C,4.0,52.875000
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,NaN,7.720800
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S,3.0,4.591667
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q,NaN,7.750000
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q,NaN,90.000000
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,NaN,7.775000
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,NaN,8.050000
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,NaN,108.900000
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,NaN,7.250000
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN,8.050000
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,NaN,22.358300

#### Attention on a un passager qui n'a pas de prix de ticket

In [30]:
import numpy as np
test.loc[np.isnan(test['Fare'])]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
152,1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [31]:
# prennons la moyenne des embarqués à S... !
test.loc[test['Embarked'] == 'S']['Fare'].mean()

28.230436431226774

### Travail sur le nom

In [32]:
familynames = []
for noms in test["Name"]:
    familynames.append(re.search('([A-Za-z0-9]*),\ ([A-Za-z0-9 ]*)\. (.*)', noms).group(1))
pdfamilynames = pd.DataFrame(familynames, columns = ['familynames'])

famsurv = test.join(pdfamilynames)
#famsurv['familynames'].value_counts()

### Travail sur le titre

In [33]:
X = train
X['Titre'] = X.Name.map(lambda x : x.split(",")[1].split(".")[0])
X['NomFamille'] = X.Name.map(lambda x : x.split(",")[0])
titre = pd.DataFrame(X['Titre'])
X['Titre'].value_counts()

 Mr              517
 Miss            182
 Mrs             125
 Master           40
 Dr                7
 Rev               6
 Major             2
 Col               2
 Mlle              2
 Jonkheer          1
 Mme               1
 Ms                1
 the Countess      1
 Lady              1
 Sir               1
 Capt              1
 Don               1
Name: Titre, dtype: int64

In [34]:
X['iTitre'] = 0
for idx, titre in enumerate(X['Titre']): 
    if (titre.strip() == 'Mr') :
        X.loc[idx, 'iTitre'] = 2
    elif (titre.strip() == 'Miss' or titre.strip() == 'Mrs') :
        X.loc[idx, 'iTitre'] = 1
    else :
        X.loc[idx, 'iTitre'] = 0
X['iTitre'].value_counts()

2    517
1    307
0     67
Name: iTitre, dtype: int64

## Création d'une fonction de préparation

In [35]:
def dataprep(data):
    # Sexe
    sexe = pd.get_dummies(data['Sex'], prefix='sex')
    
    # Cabine, récupération du pont
    cabin = pd.get_dummies(data['Cabin'].fillna('X').str[0], prefix='Cabin')
    
    # Age 
    age = data['Age'].fillna(data['Age'].mean())
    enfantf = []
    for i in range(data.shape[0]) :
        if age[i] < 9:
            enfantf.append(0)
        else:
            enfantf.append(1)
    enfantd = pd.DataFrame(enfantf, columns = ['Enfant'])
    
    # Titre
    data['Titre'] = data.Name.map(lambda x : x.split(",")[1].split(".")[0]).fillna('X')
    data['iTitre'] = 0
    for idx, titre in enumerate(data['Titre']): 
        if (titre.strip() == 'Mr') :
            data.loc[idx, 'iTitre'] = 2
        elif (titre.strip() == 'Miss' or titre.strip() == 'Mrs') :
            data.loc[idx, 'iTitre'] = 1
        else :
            data.loc[idx, 'iTitre'] = 0

    # Embarquement
    emb = pd.get_dummies(data['Embarked'], prefix='emb')
    
    # Prix unitaire - Ticket, Prépartion d'un DF (TicketCounts) contenant les ticket avec leur nb d'occurence
    TicketCounts = pd.DataFrame(data['Ticket'].value_counts().head())
    TicketCounts['TicketCount'] = TicketCounts['Ticket'] # renomme la colonne Ticket
    TicketCounts['Ticket'] = TicketCounts.index # rajoute une colonne Ticket pour le merge (jointure)
    # reporte le résultat dans le dataframe test (jointure des datasets)
    fin = pd.merge(data, TicketCounts, how='left', on='Ticket')
    fin['PrixUnitaire'] = fin['Fare'] / fin['TicketCount'].fillna(1)
    prxunit = pd.DataFrame(fin['PrixUnitaire'])
    
    # Classe
    pc = pd.DataFrame(MinMaxScaler().fit_transform(data[['Pclass']]), columns = ['Classe'])

    dp = data[['SibSp', 'Parch', 'iTitre']].join(pc).join(sexe).join(emb).join(prxunit).join(cabin).join(age).join(enfantd)
    return dp

In [36]:
Xtrain = dataprep(train)
# remove the Cabin with T value as this does not exist in the test dataset !
del Xtrain['Cabin_T']
Xtest = dataprep(test)
Xtest = Xtest.fillna(28)

In [37]:
Xtrain.describe(include='all')

,SibSp,Parch,iTitre,Classe,sex_female,sex_male,emb_C,emb_Q,emb_S,PrixUnitaire,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_X,Age,Enfant
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.523008,0.381594,1.505051,0.654321,0.352413,0.647587,0.188552,0.086420,0.722783,30.765530,0.016835,0.052750,0.066218,0.037037,0.035915,0.014590,0.004489,0.771044,29.699118,0.939394
std,1.102743,0.806057,0.633101,0.418036,0.477990,0.477990,0.391372,0.281141,0.447876,49.752483,0.128725,0.223659,0.248802,0.188959,0.186182,0.119973,0.066890,0.420397,13.002015,0.238740
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.420000,0.000000
25%,0.000000,0.000000,1.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,7.895800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,22.000000,1.000000
50%,0.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,29.699118,1.000000
75%,1.000000,0.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,28.856250,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,35.000000,1.000000
max,8.000000,6.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,80.000000,1.000000

## Entrainement du modèle

In [39]:
y = train.Survived

#clf = LinearSVC(random_state=2)
#clf.fit(Xtrain, y)
#p_tr = clf.predict(Xtrain)
#print ("Score Train -->", round(clf.score(Xtrain, y) *100,4), " %")

rf = RandomForestClassifier(n_estimators=100, random_state=0, max_features=2)
rf.fit(Xtrain, y)
p_tr = rf.predict(Xtrain)
print ("Score Train -->", round(rf.score(Xtrain, y) *100,4), " %")

Score Train --> 98.7654  %

## Formattage des résultats pour Kaggle ;-)

In [42]:
Xtest.describe()

,SibSp,Parch,iTitre,Classe,sex_female,sex_male,emb_C,emb_Q,emb_S,PrixUnitaire,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_X,Age,Enfant
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,0.447368,0.392344,1.507177,0.632775,0.363636,0.636364,0.244019,0.110048,0.645933,30.371621,0.016746,0.043062,0.083732,0.031100,0.021531,0.019139,0.002392,0.782297,30.272590,0.956938
std,0.896760,0.981429,0.620355,0.420919,0.481622,0.481622,0.430019,0.313324,0.478803,45.930529,0.128474,0.203240,0.277317,0.173797,0.145320,0.137177,0.048912,0.413179,12.634534,0.203240
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.170000,0.000000
25%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.881275,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,23.000000,1.000000
50%,0.000000,0.000000,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,14.454200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,30.272590,1.000000
75%,1.000000,0.000000,2.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,30.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,35.750000,1.000000
max,8.000000,9.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,76.000000,1.000000

In [43]:
p_test = clf.predict(Xtest)
result = pd.DataFrame(test['PassengerId'])
pred = pd.DataFrame(p_test, columns=['Survived'])
result = result.join(pred)

In [46]:
result.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.277512
std     120.810458    0.448308
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [48]:
result.to_csv("./data/result3.csv", columns=["PassengerId", "Survived"], index=False)

# Résultat : score =