In [72]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

titanic = pd.read_csv("../datasources/titanic/train.csv")
titanic.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Ajoutons les colonnes Classes, SibSp, Cabine, sexe et Age

In [76]:
y = titanic.Survived
sexe = pd.get_dummies(titanic['Sex'], prefix='sex')
cabin = pd.get_dummies(titanic['Cabin'].fillna('X').str[0], prefix='Cabin')
age = titanic['Age'].fillna(titanic['Age'].mean())
X = titanic[['Pclass', 'SibSp']].join(cabin).join(sexe).join(age)
X.head(3)

,Pclass,SibSp,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_X,sex_female,sex_male,Age
0,3,1,0,0,0,0,0,0,0,0,1,0,1,22.0
1,1,1,0,0,1,0,0,0,0,0,0,1,0,38.0
2,3,0,0,0,0,0,0,0,0,0,1,1,0,26.0

In [77]:
rf = RandomForestClassifier(n_estimators=100, random_state=0, max_features=2)
rf.fit(X, y)
p_tr = rf.predict(X)
print ("Score RF -->", round(rf.score(X, y) *100,2), " %")

Score RF --> 92.14  %

## Ajoutons le prix du billet

In [78]:
X = titanic[['Pclass', 'SibSp', 'Fare']].join(cabin).join(sexe).join(age)
rf.fit(X, y)
p_tr = rf.predict(X)
print ("Score RF -->", round(rf.score(X, y) *100,2), " %")

Score RF --> 98.54  %

In [64]:
from sklearn.metrics import confusion_matrix
c_tr = confusion_matrix (y, p_tr)
print ("Matrice de confusion :\n", c_tr)

Matrice de confusion :
 [[545   4]
 [  9 333]]

In [71]:
emb = pd.get_dummies(titanic['Embarked'], prefix='emb')
X = titanic[['Pclass', 'SibSp', 'Fare']].join(cabin).join(sexe).join(age).join(emb)
rf.fit(X, y)
p_tr = rf.predict(X)
print ("Score RF -->", round(rf.score(X, y) *100,2), " %")
from sklearn.metrics import classification_report
print("Report\n", classification_report(y, p_tr))

Score RF --> 98.54  %
Report
              precision    recall  f1-score   support

          0       0.99      0.99      0.99       549
          1       0.99      0.98      0.98       342

avg / total       0.99      0.99      0.99       891